@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: #222831;
  color:white;
  font-family: 'Roboto', sans-serif;
}

#particles-js{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.contenedor{
  position: relative;
  z-index: 99;
}

.centrado{
  text-align: center;
}

label{
  color:#00ADB5;
  font-size: 19px;
  font-weight: bolder;
}